/* Keep all FAQ items open in editor. */
.cms-editor-active .faq-content {
  height: auto !important;
}

/* ORIGINAL SETUP: Transitioning a row's height using 'grid-template-rows' from '0fr' to '1fr' is a modern
CSS technique to animate content's height from hidden ('height: 0') to its natural, 'height: auto'. This method is
commonly used for effects like accordions or expandable sections, as animating height: auto directly
is not possible with CSS transitions. */

/* CURRENT SETUP: Using GSAP to animate height directly for better performance and smoother transitions. */

.faq {
  
  &-component h1 {
    text-transform: uppercase;
  }
  
  &-wrapper {
    border-left: solid 3px;
    margin-left: 10px;
  }

  &-panel {
    position: relative;
    padding-left: 3rem;
  }
  
  &-dot {
    position: absolute;
    left: -12px;
    top: 0px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid;
  }
  
  &-trigger {
    position: relative;
    cursor: pointer;
    padding-right: 50px;
    margin-bottom: 20px
  }
  
  &-trigger::before,
  &-trigger::after {
    position: absolute;
    top: 12px;
    right: 10px;
    content: "";
    display: block;
    width: 20px;
    height: 3px;
    background: currentcolor;
    transition: transform 500ms;
  }
  
  &-trigger::after {
    rotate: 90deg;
  }
  
  &-trigger[aria-expanded="true"]::before,
  &-trigger[aria-expanded="true"]::after {
    transform: rotate(45deg);
  }
  
  &-content {
    height: 0;
    cursor: default;
    overflow: hidden;
  }
  
  &-content > div {
    overflow: hidden; /* Hide content when collapsed */
  }
  
}
