@use "../../../site/vendor/bulma/sass/utilities/mixins";
@use "../../../site/vendor/bulma/sass/utilities/initial-variables" as iv;


:root {
  --main-container-top-padding: 70px;
}

.footer {
  
  padding: 6rem 1.5rem 3rem 1.5rem;

  .container {
    max-width: 1500px;
  }
  .footer-nav-wrapper {
    padding-right: 70px;
  }
  .logo-and-icons-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 150px;
  }
  .social-icons a {
    font-size: 2.3rem;
  }
  .footer-logo a {
    display: block;
  }
  .footer-logo img {
    max-width: 100px;
  }
}

.section {

  /* Only when NOT single column display, allow the alternating left/right of image vs text */
  .vb-reverse-column-order {
    @include mixins.from(iv.$tablet) {
      display: flex;
      flex-direction: row-reverse;
    }
  }

}

/* Section padding helpers */
$padding-position: "top","bottom";

// Note below: Adding the column gap (0.75rem default) avoids overlapping of the sections.
@include mixins.mobile {
  @each $position in $padding-position {
    .section-padding-#{$position} {
      
      &-0 {
        padding-#{$position}: var(--bulma-column-gap) !important;
      }
      &-1 {
        padding-#{$position}: calc(0.5rem + var(--bulma-column-gap)) !important;
      }
      &-2 {
        padding-#{$position}: calc(1rem + var(--bulma-column-gap)) !important;
      }
      &-3 {
        padding-#{$position}: calc(1.5rem + var(--bulma-column-gap)) !important;
      }
      &-4 {
        padding-#{$position}: calc(2rem + var(--bulma-column-gap)) !important;
      }
      &-5 {
        padding-#{$position}: calc(2.5rem + var(--bulma-column-gap)) !important;
      }
      &-6 {
        padding-#{$position}: calc(3rem + var(--bulma-column-gap)) !important;
      }
      &-7 {
        padding-#{$position}: calc(3.5rem + var(--bulma-column-gap)) !important;
      }
    }
  }
}

// Note below: Adding the column gap (0.75rem default) avoids overlapping of the sections.
@include mixins.tablet {
  @each $position in $padding-position {
    .section-padding-#{$position} {
      &-0 {
        padding-#{$position}: var(--bulma-column-gap) !important;
      }
      &-1 {
        padding-#{$position}: calc(0.75rem + var(--bulma-column-gap)) !important;
      }
      &-2 {
        padding-#{$position}: calc(1.5rem + var(--bulma-column-gap)) !important;
      }
      &-3 {
        padding-#{$position}: calc(2.25rem + var(--bulma-column-gap)) !important;
      }
      &-4 {
        padding-#{$position}: calc(3rem + var(--bulma-column-gap)) !important;
      }
      &-5 {
        padding-#{$position}: calc(3.75rem + var(--bulma-column-gap)) !important;
      }
      &-6 {
        padding-#{$position}: calc(4.5rem + var(--bulma-column-gap)) !important;
      }
      &-7 {
        padding-#{$position}: calc(5.25rem + var(--bulma-column-gap)) !important;
      }
    }
  }
}

// Note below: Adding the column gap (0.75rem default) avoids overlapping of the sections.
@include mixins.desktop {
  @each $position in $padding-position {
    .section-padding-#{$position} {
      &-0 {
        padding-#{$position}: var(--bulma-column-gap) !important;
      }
      &-1 {
        padding-#{$position}: calc(1rem + var(--bulma-column-gap)) !important;
      }
      &-2 {
        padding-#{$position}: calc(2rem + var(--bulma-column-gap)) !important;
      }
      &-3 {
        padding-#{$position}: calc(3rem + var(--bulma-column-gap)) !important;
      }
      &-4 {
        padding-#{$position}: calc(4rem + var(--bulma-column-gap)) !important;
      }
      &-5 {
        padding-#{$position}: calc(5rem + var(--bulma-column-gap)) !important;
      }
      &-6 {
        padding-#{$position}: calc(6rem + var(--bulma-column-gap)) !important;
      }
      &-7 {
        padding-#{$position}: calc(7rem + var(--bulma-column-gap)) !important;
      }
    }
  }
}


@media screen and (max-width: iv.$tablet) {
  
  main .section:first-of-type .first-of-type-section-spacer {
    padding-top: 110px;
  }

}


@media screen and (min-width: iv.$tablet) and (max-width: iv.$desktop) {
  
  main .section:first-of-type .first-of-type-section-spacer {
    padding-top: 120px;
  }

}

@media screen and (max-width: iv.$desktop) {
  
  .columns.reverse-order-desktop {
    display: flex;
    flex-direction: column-reverse;
  }

}

@media screen and (min-width: iv.$desktop) {
  
  /* When using a fixed navigation bar, can set some padding at the top of <main> that is less than or equal to 
  the height of the navbar when in it's shrunken state (after scrolling down the page a bit). If set this padding
  greater than that, then a flash of body background can show when quickly scrolling back to the top of the page.
  
  NOTE: If going to use a semi-transparent navbar then need to remove this padding when using hero images or a
  carousel at the top of the page. */
  main {
    padding-top: var(--main-container-top-padding);
  }
  
  /* Overide Bulma default */
  /* 
  .section {
    padding: 3rem 3rem;
  }
  .section.is-medium {
    padding: 9rem 4.5rem;
  }
  .section.is-large {
    padding: 18rem 6rem;
  }
  */
 .section {
    padding: 4rem 3rem;
  }
  
  /* Rather than put padding or margin on <main> to allow for the height of the fixed navbar,
  put it on the first section container element. That way, the background underneath the navbar will
  match the background of this container element all the way to the top of the page so doesn't look odd
  when the navbar shrinks on scroll. */
  main .section:first-of-type .first-of-type-section-spacer {
    padding-top: 80px;
  }
  
  /* When first creating a page in the admin, will just have the fixed navbar and then the footer
  below it, but with the top edge of the footer tucked underneath the navbar (looks poor). Cannot use
  the CSS above to add some padding as <footer> is the next sibling of <main>, not a child of it.
  So instead use an empty 'spacer' div within <main> and then check if it is the direct sibling
  of a '.section' (component wrapper). If so, hide it. Otherwise if it's visible it pushes down the
  footer below the bottom edge of the navbar. */
  main .footer-spacer {
    height: 110px;
  }
  main .section + .footer-spacer {
    display: none;
  }

}

#connection-issue-notice {
  display: none;
  position: fixed;
  z-index: 10000;
  top: 20px;
  left: 50%;
  transform: translateX(-50%); // Centre horizontally
  background: cornsilk;
  padding: 35px;
  border: solid 4px #ddd;
  max-width: 600px;
}