@use "../../../site/vendor/bulma/sass/utilities/mixins";
@use "../../../site/vendor/bulma/sass/utilities/initial-variables" as iv;
@use "../../../site/css/variables" as va;

:root {
  --bulma-burger-item-width: 30px;
  --bulma-burger-gap: 7px;
}

.navigation-header {

  #show-modal-search {
    font-size: 1.2rem;
    border: none;
    background-color: transparent;
    color: va.$navbar-link-color;
    box-shadow: none;
  }
  .navbar {
    font-family: va.$family-navigation;
    -moz-transition-duration: 0.75s;
    -o-transition-duration: 0.75s;
    -webkit-transition-duration: 0.75s;
    transition-duration: 0.75s;
    box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.02),
      0 2px 2px rgba(0, 0, 0, 0.02),
      0 4px 4px rgba(0, 0, 0, 0.02),
      0 6px 6px rgba(0, 0, 0, 0.02),
      0 10px 10px rgba(0, 0, 0, 0.02);
  }
  .navbar-brand img {
    -moz-transition-duration: 0.75s;
    -o-transition-duration: 0.75s;
    -webkit-transition-duration: 0.75s;
    transition-duration: 0.75s;
    width: auto;
  }

  // Use custom dropdown arrow for navbar link toggler for small screens (up to tablet).
  .dropdown-toggle {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    position: absolute;
    top: 5px;
    right: 0;
    width: 30px;
    height: 30px;
  }
  .dropdown-toggle span {
    display: block;
    content: " ";
    border: 1px solid #333;
    border-right: 0;
    border-top: 0;
    height: 0.625em;
    margin-top: -0.4375em;
    transform: rotate(-45deg);
    transform-origin: center;
    width: 0.625em;
  }

}

// Mobile
@media screen and (max-width: 768px) {
    
  .navbar-brand {
    min-height: 62px;
    padding-left: 20px;
  }
  .navbar-item img {
    max-height: 40px;
  }
  // Animate background colour transition on MOBILE
  .navbar-burger {
    right: 15px;
    -webkit-transition: background-color 0s ease-out 0.3s;
    -moz-transition: background-color 0s ease-out 0.3s;
    -o-transition: background-color 0s ease-out 0.3s;
    transition: background-color 0s ease-out 0.3s;
  }
  .navbar-burger.sticky-top {
    right: 5px;
  }
  
}

// Tablet
@media screen and (min-width: 769px) and (max-width: 1023px) {
  
  .navbar-brand {
    min-height: 100px;
    padding-left: 40px;
  }
  .navbar-item img {
    max-height: 50px;
  }
  .navbar-burger {
    right: 35px;
    transition: transform 0.3s;
  }
  // Animate position translation on TABLET
  .navbar-burger.sticky-top {
    transform: translate(20px, -10px);
  }
  
}


// Styles applied below $desktop
@include mixins.until(iv.$desktop) {
  
  #show-modal-search {
    margin-left: -15px;
    margin-top: 20px;
  }
  .navbar-burger {
    position: fixed;
    z-index: 10001;
    margin: 3px;
    color: va.$navbar-link-color;
    border-radius: 0;
  }
  .navbar-burger:hover {
    color: va.$navbar-link-color;
  }
  .navbar-burger.sticky-top {
    background-color: rgba(255,255,255,0.8);
    color: va.$navbar-link-color;
  }
  
  .navbar {
    min-height: 0;
  }
  
  .navbar-brand {
    background: va.$navbar-background-color;
  }
  
  .navbar .navbar-menu {
    display: block;
    position: fixed;
    top: 0;
    z-index: 10000;
    overflow-y: auto;
    scrollbar-gutter: stable;
    height: 100vh;
    width: 350px;
    max-width: 80%;
    padding: 40px 50px;
    margin-left: -350px;
    -webkit-transition: margin-left 0.3s ease-out 0.2s;
    -moz-transition: margin-left 0.3s ease-out 0.2s;
    -o-transition: margin-left 0.3s ease-out 0.2s;
    transition: margin-left 0.3s ease 0.2s;
    background: va.$navbar-background-color;
  }
  
  .navbar .navbar-menu.is-active {
    margin-left: 0;
  }
  
  .navbar-start {
    margin-left: 0;
  }
  
  .navbar-item,
  .navbar-link {
    font-size: 1rem;
    padding: 0.6rem 0;
    font-weight: 300;
    color: va.$navbar-link-color;
  }
  a.navbar-item.is-active,
  a.navbar-link.is-active {
    font-weight: 700;
    background-color: transparent;
    color: va.$navbar-link-color;
  }
  a.navbar-item:hover {
    background-color: transparent;
    color: va.$navbar-link-color;
  }
  
  .navbar-link:not(.is-arrowless)::after {
    display: none; // Hide the down arrow
  }
  .navbar-link {
    margin-right: 30px;
  }
  .navbar-link:hover {
    background: va.$navbar-background-color !important;
  }

  .navbar-dropdown {
    display: grid;
    grid-template-rows: 0fr; // Initial collapsed state
    transition: grid-template-rows 500ms;
    font-size: 1rem;
    padding-top: 0;
    padding-bottom: 0;
  }
  .navbar-dropdown.show-dropdown {
    grid-template-rows: 1fr;  // Expanded state
    border-left: solid 1px #888;
  }
  .navbar-dropdown > div {
    overflow: hidden;
  }

  .navbar-dropdown .navbar-item {
    background-color: transparent !important;
    color: va.$navbar-link-color !important;
    text-transform: none;
  }
  
  #opaque-mask {
    position: fixed;
    z-index: 5;
    width: 100%;
    background: rgba(0,0,0,0.7);
    height: 0;
    -webkit-transition: height 0.1s ease 0.1s;
    -moz-transition: height 0.1s ease 0.1s;
    -o-transition: height 0.1s ease 0.1s;
    transition: height 0.1s ease 0.1s;
  }
  #opaque-mask.show {
    height: 100%;
  }
  
}


@include mixins.from(iv.$desktop) {
  
  /* Initially hide the navigation items to avoid FOUC. Once fonts loaded (checked in JS)
  then display the navigation bar items. */
  .navbar-start .navbar-item,
  .navbar-start .navbar-link {
    opacity: 0;
  }
  .fonts-loaded .navbar-start .navbar-item,
  .fonts-loaded .navbar-start .navbar-link {
    -moz-transition-duration: 0.15s;
    -o-transition-duration: 0.15s;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    transition-property: opacity;
    opacity: 1;
  }
  // END avoid FOUC
  
  .navbar {
    position: fixed;
    z-index: 1001;
    width: 100%;
    justify-content: flex-end;
    padding: 10px 40px;
    min-height: 7rem;
    background: va.$navbar-background-color;
  }
  .navbar.transparent {
    background: rgba(255,255,255,0.5);
  }
  
  .navbar-brand img {
    max-height: 90px;
  }
  
  .navbar.sticky-top {
    padding: 0 40px;
    min-height: 4rem;
  }
  .navbar.sticky-top .navbar-brand img {
    max-height: 60px;
  }
  
  .navbar-start {
    justify-content: flex-end;
    width: 100%;
  }
  .navbar-item,
  .navbar-link {
    align-self: center;
    height: 70px;
    max-height: 70px;
    padding: 0.5rem 0.5rem;
    font-size: 1rem;
    font-weight: 300;
    -moz-transition-duration: 0.15s;
    -o-transition-duration: 0.15s;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.1s;
    color: va.$navbar-link-color;
    border: solid 1px transparent;
  }
  .navbar.sticky-top .navbar-item,
  .navbar.sticky-top .navbar-link {
    height: 50px;
    max-height: 50px;
  }

  a.navbar-link.is-active,
  a.navbar-item.is-active,
  a.navbar-item.is-active:not(:focus):not(:hover),
  a.navbar-link.is-active:not(:focus):not(:hover) {
    color: va.$navbar-link-color;
    background-color: transparent;
    border: solid 1px #888;
  }
  a.navbar-link:focus,
  a.navbar-link:focus-within,
  a.navbar-link:hover,
  a.navbar-item:focus,
  a.navbar-item:focus-within,
  a.navbar-item:hover {
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    color: va.$navbar-link-color;
    background-color: transparent;
  }
  
  a.navbar-item.is-active:hover,
  a.navbar-link.is-active:hover {
    color: va.$navbar-link-color;
    background-color: transparent;
  }
  
  // Dropdown
  .navbar-dropdown a.navbar-item:not(.is-active, .is-selected) {
    background-color: va.$navbar-dropdown-background-color;
    color: va.$navbar-link-color;
  }
  .navbar-item.has-dropdown.is-active .navbar-link,
  .navbar-item.has-dropdown:focus .navbar-link,
  .navbar-item.has-dropdown:hover .navbar-link {
    background-color: transparent;
  }
  .navbar-item.has-dropdown:hover .navbar-link.is-active {
    background-color: transparent;
  }
  
  // Dropdown Arrow
  .navbar-link:not(.is-arrowless)::after {
    border-color: va.$navbar-link-color;
    margin-top: -0.4375em;
    border-width: 1px;
  }
  .has-dropdown:hover a.navbar-link.navbar-link:not(.is-arrowless)::after {
    border-color: va.$navbar-link-color;
  }
  .has-dropdown:hover a.navbar-link.navbar-link:not(.is-arrowless):not(.is-active)::after {
    border-color: va.$navbar-link-color;
  }
  a.navbar-link.navbar-link:not(.is-arrowless).is-active::after {
    border-color: va.$navbar-link-color;
  }
  .has-dropdown .navbar-link:not(.is-arrowless):hover {
    background: transparent;
  }
  
  // Sub links
  .navbar-dropdown {
    
    border-top: 0;
    background-color: va.$navbar-dropdown-background-color;
  
    .navbar-item {
      font-size: 1rem;
      border-left: solid 5px transparent;
      height: auto !important;
      max-height: none !important;
      color: va.$navbar-link-color;
    }
    a.navbar-item:hover {
      background-color: transparent;
      border-left: solid 5px va.$navbar-active-link-background-color;
      color: va.$navbar-link-color;
    }
    a.navbar-item.is-active:hover {
      background-color: transparent;
      border-left: solid 5px va.$navbar-active-link-background-color;
      color: va.$navbar-link-color;
      border-top: 0;
      border-right: 0;
      border-bottom: 0;
    }
    .navbar-item.is-active:not(:focus):not(:hover) {
      background-color: transparent;
      border-left: solid 5px va.$navbar-active-link-background-color;
      color: va.$navbar-link-color;
      border-top: 0;
      border-right: 0;
      border-bottom: 0;
    }
    
  }
  
  .navbar-end {
    align-items: center;
  }

  .navigation-header {

    // Hide custom dropdown arrow for larger screens
    .dropdown-toggle {
      display: none;
    }
    .navbar-dropdown {
      // Replaces 'display: none' from Bulma
      display: block;
      opacity: 0;
      top: 110%;
      pointer-events: none;
      transition-property: opacity, top;
      transition-duration: 0.3s, 0.3s;
      transition-delay: 0s, 0s;
      padding-top: 0;
      padding-bottom: 0;
    }
    .navbar-item.is-hoverable-desktop:hover .navbar-dropdown {
      opacity: 1;
      top: 100%;
      pointer-events: auto;
    }

  }
  
}


@include mixins.from(iv.$widescreen) {
  
  a.navbar-item,
  a.navbar-link {
    padding: 0.5rem 1.2rem;
    font-size: 1rem;
  }
  
}


@include mixins.from(iv.$fullhd)  {
  
  a.navbar-item,
  a.navbar-link {
    padding: 0.5rem 1.5rem;
    font-size: 1.1rem;
  }
  
}