@use "site/vendor/bulma/sass/utilities/mixins";
@use "site/vendor/bulma/sass/utilities/initial-variables" as iv;
@use "site/css/variables" as va;


.cms-editor-active .hero-wrapper .content * {
    opacity: 1 !important;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.hero-component,
.hero-component-constrained {

  .gsap-parallax-element {
    height: 100%;
  }

  .gsap-parallax-element img {

    @media screen and (not (width < 1024px)) and (not (hover: none)) and (not (pointer: coarse)) {
      /* This query only applies if:
      1. The screen width is 1024px or greater
      2. The primary input mechanism DOES supports hovering.
      3. The primary input mechanism is NOT coarse.
      In these case will be using parallax. */
      position: relative;
      transform: scale(1.5);
      width: auto;
      height: auto;
      max-width: none !important;
    }
  }

}

.hero-component {
  
  position: relative;
  padding-top: 0 !important;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  
  .overflow-mask {
    overflow: hidden;
  }
  .hero-image,
  .feature-image-wrapper {
    width: 100%;
    height: 100%;
    line-height: 0;
  }
  .hero-image img,
  .feature-image-wrapper img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  
  .container {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }
  
  .columns,
  .column,
  .content {
    height: 100%;
  }
  .columns {
    margin-top: 0;
    width: 100%;
  }
  .column {
    padding-top: 0;
    padding-bottom: 0;
  }
  .content{
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
    padding: 40px 0 60px 0;
  }
  
  @media screen and (max-width: 768px) {
  
    .small-vh-100 {
      height: 100vh;
    }
    .small-vh-95 {
      height: 95vh;
    }
    .small-vh-85 {
      height: 85vh;
    }
    .small-vh-75 {
      height: 75vh;
    }
    .small-vh-65 {
      height: 65vh;
    }
    .small-vh-55 {
      height: 55vh;
    }
    .small-vh-50 {
      height: 50vh;
    }
    .small-vh-45 {
      height: 45vh;
    }
    .small-vh-40 {
      height: 40vh;
    }
    
    .small-px-1000 {
      height: 1000px;
    }
    .small-px-950 {
      height: 950px;
    }
    .small-px-850 {
      height: 850px;
    }
    .small-px-750 {
      height: 750px;
    }
    .small-px-650 {
      height: 650px;
    }
    .small-px-550 {
      height: 550px;
    }
    .small-px-500 {
      height: 500px;
    }
    .small-px-450 {
      height: 450px;
    }
    .small-px-400 {
      height: 400px;
    }
  }
  
  @media screen and (min-width: 769px) and (max-width: 1023px) {
    
    .medium-vh-100 {
      height: 100vh;
    }
    .medium-vh-95 {
      height: 95vh;
    }
    .medium-vh-85 {
      height: 85vh;
    }
    .medium-vh-75 {
      height: 75vh;
    }
    .medium-vh-65 {
      height: 65vh;
    }
    .medium-vh-55 {
      height: 55vh;
    }
    .medium-vh-50 {
      height: 50vh;
    }
    .medium-vh-45 {
      height: 45vh;
    }
    .medium-vh-40 {
      height: 40vh;
    }
    
    .medium-px-1000 {
      height: 1000px;
    }
    .medium-px-950 {
      height: 950px;
    }
    .medium-px-850 {
      height: 850px;
    }
    .medium-px-750 {
      height: 750px;
    }
    .medium-px-650 {
      height: 650px;
    }
    .medium-px-550 {
      height: 550px;
    }
    .medium-px-500 {
      height: 500px;
    }
    .medium-px-450 {
      height: 450px;
    }
    .medium-px-400 {
      height: 400px;
    }
  }
  
  @media screen and (min-width: 1024px) {
    
    .large-vh-100 {
      height: calc(100vh - var(--main-container-top-padding));
    }
    .large-vh-95 {
      height: calc(95vh - var(--main-container-top-padding));
    }
    .large-vh-85 {
      height: 85vh;
    }
    .large-vh-75 {
      height: 75vh;
    }
    .large-vh-65 {
      height: 65vh;
    }
    .large-vh-55 {
      height: 55vh;
    }
    .large-vh-50 {
      height: 50vh;
    }
    .large-vh-45 {
      height: 45vh;
    }
    .large-vh-40 {
      height: 40vh;
    }
    
    .large-px-1000 {
      height: 1000px;
    }
    .large-px-950 {
      height: 950px;
    }
    .large-px-850 {
      height: 850px;
    }
    .large-px-750 {
      height: 750px;
    }
    .large-px-650 {
      height: 650px;
    }
    .large-px-550 {
      height: 550px;
    }
    .large-px-500 {
      height: 500px;
    }
    .large-px-450 {
      height: 450px;
    }
    .large-px-400 {
      height: 400px;
    }
  }
  
}

.hero-component-constrained {
  
  position: relative;
  
  .overflow-mask {
    overflow: hidden;
  }
  .hero-image-wrapper {
    position: relative;
  }
  /* Adjust so the semi-opaque mask fits perfectly over the image (img) */
  .hero-image-wrapper .column {
    padding-top: 0;
    padding-bottom: 0;
  }
  
  .hero-image,
  .feature-image-wrapper {
    width: 100%;
    height: 100%;
    line-height: 0;
  }
  .hero-image img,
  .feature-image-wrapper img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .text-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
  .content{
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
    padding: 60px 40px;
    height: 100%;
  }
  
}


.hero-wrapper {
  
  .content.top-left {
    justify-content: start;
  }
  
  .content.center-left {
    justify-content: center;
  }
  
  .content.bottom-left {
    justify-content: end;
  }
  
  .content.top-right {
    justify-content: start;
    text-align: right;
  }
  
  .content.center-right {
    justify-content: center;
    text-align: right;
  }
  
  .content.bottom-right {
    justify-content: end;
    text-align: right;
  }
  
  .content.top-center {
    justify-content: start;
    text-align: center;
  }
  
  .content.center-center {
    justify-content: center;
    text-align: center;
  }
  
  .content.bottom-center {
    justify-content: end;
    text-align: center;
  }
  
  /* --- OVERLAY TEXT --- */
  
  .hero-title {
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.4;
    padding: 0 20px;
    font-family: va.$family-navigation;
  }
  
  .hero-sub-title {
    color: #fff;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.4;
    padding: 0 20px;
    font-family: va.$family-navigation;
  }
  
  @include mixins.from(iv.$tablet) {
    
    .hero-title {
      font-size: 2.5rem;
    }
    .hero-sub-title {
      font-size: 1.4rem;
    }
  }
  
  @include mixins.from(iv.$desktop) {
    
    .hero-title {
      font-size: 4rem;
    }
    .hero-sub-title {
      font-size: 2rem;
    }
  }
  
  .hero-gradient {
    
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  
    &.top-left {
      background: linear-gradient(315deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.45) 100%);
    }
    
    &.center-left {
      background: linear-gradient(270deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.45) 100%);
    }
    
    &.bottom-left {
      background: linear-gradient(225deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.45) 100%);
    }
    
    &.top-right {
      background: linear-gradient(45deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.45) 100%);
    }
    
    &.center-right {
      background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.45) 100%);
    }
    
    &.bottom-right {
      background: linear-gradient(135deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.45) 100%);
    }
    
    &.top-center {
      background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.45) 100%);
    }
    
    &.center-center {
      background: radial-gradient(circle, rgba(0,0,0,0.45) 0%, rgba(0,0,0,0) 100%);
    }
    
    &.bottom-center {
      background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.45) 100%);
    }
    
  }
  
  .hero-grid {
    background: url(/uploads/theme/grid-overlay.png);
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  
}


@include mixins.from(iv.$desktop) {

  /* If this component is the very first one in the page (first section within main) then
  add a bit of padding so that any text content added towards the top is not too close to
  the bottom of the navbar. */
  main .section.hero-component:first-of-type .container {
    padding-top: 50px;
  }
  
}
